<?xml version='1.0' encoding='utf-8'?>
<widget id="tw.nutc.sample" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>上榮新疆烤肉(台中店)</name>
	<description>
		上榮新疆烤肉(台中店)
	</description>
	<author href="#" email="#">
		蔣宜成
	</author>

	<!-- current version of PhoneGap -->
	<preference name="phonegap-version" value="3.5.0" />
	<!-- 設定畫面固定為水平(landscape)、垂直(portrait) -->
	<!--<preference name="orientation" value="landscape" />-->
</widget>